@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}

/*Ссылки*/

.navigation-link {
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.user-item-button {
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background: #756257;
}

.button-subscription {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background: #83b3d3;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

a:visited.navigation-link {
  color: #000000;
  text-decoration: none;
}

.banner {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

/*Текст-Заголовки Main*/
.main-title-h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.main-title-h2 {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

/** Advantages-item **/

.advantage-item-real-city {
  color: #ffffff;
  background: #83b3d3;
}

.advantage-discription-white{
  color: #ffffff
}

.advantage-item-home {
  background: rgba(131, 179, 211, 0.12);
  background-image: url(../images/icon-1.svg);
  background-repeat: no-repeat;
}

.advantage-item-souvenir {
  background: rgba(131, 179, 211, 0.2);
  background-image: url(../images/icon-3.svg);
  background-repeat: no-repeat;
}

.advantage-item-area {
  background: rgba(131, 179, 211, 0.12);
}

.advantage-item-bridge {
  color: #ffffff;
  background: #83b3d3;
}

.advantage-item-burger {
  background: #ffffff;
  background-image: url(../images/icon-2.svg);
  background-repeat: no-repeat;
}

.advantage-item-road {
  background: rgba(131, 179, 211, 0.2);
}

.advantage-item-tourists {
  background: rgba(131, 179, 211, 0.12);
}

.advantages {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantage-discription {
  color: #333333;
}


.interested-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.interested-discription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.newsletter {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.newsletter-discription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

/*Catalog*/
.filter {
  background-image: url("../images/catalog-background-1.jpg");
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.product-card-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.product-card-title {
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.product-card-link{
  text-decoration: none;
}

.visually-hidden {
  font-size: 0%;
}

.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  background: #f2f2f2;
}
